.page-banner{
	    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: 60px 0;
    position: relative;
}
.tabs-header li {
    transition: 0.3s ease;
    padding: 22px 73px 0px 0px;
}
li.active a {
    border-bottom: 2px solid #28b661;
}
.tabs-header {
    background: none;
	border-bottom: 1px solid #28b661;
}
.tabs-content .tab {
    padding: 0;
}
.tabs-content h1{
	font-size: 2rem;
    font-weight: 600;
}
.tabs-content p{
	font-size: 20px;
     
}
.tabs-content {
    
    margin-top: 20px;
}
.tabs-header a {
    z-index: 1;
    display: block;
    box-sizing: border-box;
    
    color: #28b661;
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
}
.tabs-content:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 60%;
    height: 1px;
    box-shadow: none;
}
.home.tabs {
    z-index: 15px;
    position: relative;
    background: none;
    width: 60%;
    border-radius: 4px;
   box-shadow: none;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.banner-headline h1 {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
}
/********Home Page******/
.welcome-text .hire-process {
    display: inline;
    font-size: 17px;
    color: #28b661;
}
#payment-form label, #card-element {
    padding-left: 20px;
}
#breadcrumbs {
	    background-color: unset;
}
.dashboard-box .headline {
    display: block;
    padding: 20px 30px;
	border-bottom: 0px solid #ffffff;  
    position: relative;
}
.dropdown-toggle::after{
	display:none;
}
.footer-row-inner.footer-logo{  
	width:200px;
}
#logo{
	width:200px;
}
#navigation{
	    margin-top: 30px;
}
.dashboard-box .button.red {
    background-color: #e90d0d;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
.mt-30 {
    margin-top: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
#card_list{position: relative;}
.change-photo-btn.save {margin-top: 50%;}  
 .content-loader {position: absolute;left: 0;top: 0;width: 100%;height: 100%;z-index: 999999;background: url(../images/loader.gif) center no-repeat #fff; display: none;opacity: 0.6;}
.hide{display: none !important;}
.tooltip{opacity: 1}
.freelancer .job-listing-description p { margin: 0; padding-bottom: 12px; color: #666;} 
#add_password_form .field-icon {float: right; margin-left: 0px; margin-top: -50px; position: relative; z-index: 2; margin-right: 20px;}
.dashboard-content-inner form{width: 100%;}
.validation-error-show ul{ list-style-type:none;text-align: left;}
.validation-error-show ul li{color:#ff0000;}
#load_data .morecontent span { display: none;}
.header-notifications-content ul {min-height: 100px;}

.message-by .pro-title {

    padding-top:30px;

	font-weight:400;

}

.accepted {

    background: #28b661;

    color: #ffffff;

    padding: 6px;

    border-radius: 7px;

}

.applied {

    background: #146cd4;

    color: #ffffff;

    padding: 6px;

    border-radius: 7px;

}

.rejected {

    background: #d62b2b;

    color: #ffffff;

    padding: 6px;

    border-radius: 7px;

}

.sort-by{

	padding-right: 20px;

}

.sort-by .dropdown-toggle:after{

	content:none;

}

.freelancer-dashboard-headline h2{

	    display: inline-block;

}

.freelancer-dashboard-headline{

	display: block;

    position: relative;

   

	padding-left: 25px;

	padding-top: 18px;

	padding-bottom: 18px;

}

}

.dropdown-toggle:after{

	content:none;

}

.checkbox label {
 
    text-transform: capitalize;
}

.dashboard-headline a {

    color: #28b661;

}

.green{

	    color: #28b661;

		letter-spacing: 1px;
		/*font-size: 1.75rem;
*/
}

a:hover{

	text-decoration: none;

}

.padt_30{

	padding-top:30px;

}

.padr_20{

	padding-right:20px;

}  

.padb_20{

	padding-bottom:20px;

}

.margin-top-30 {

    margin-top: 30px !important;

}

.padt_70{

	padding-top:70px;

}

.pad_all_12{

	padding:12px;

}

.btn-outline-blue {

    color: #2a41e8;

    border-color: #2a41e8;

	font-weight: 500;

	text-transform: uppercase;

	padding: 9px;

}

.btn-outline-blue:hover {

    color: #fff;

    background-color: #2a41e8;

    border-color:#2a41e8;

}

.button-section a {

    margin-right: 15px;

}

.center{

	margin:0 auto;

}

form .has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px;
    color: #ffffff;
    padding-left: 10px;
}  
form .spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;  
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;
}

 .genric-btn{
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;   
    color: #357d16;
    border: 1px solid #357d16;
    background: #fff;
    padding: 0px 25px 0px 25px;
    font-size: 17px;
    font-weight: 500;
}
.genric-btn.checked {color: #fff; border: 1px solid #28b661; background: #28b661;}
.full-width{width: 100%}
/*====================================

      signup sliding-pages-CSS

====================================*/

.animated {

  -webkit-animation-duration: 1s;

  animation-duration: 1s;

  -webkit-animation-fill-mode: both;

  animation-fill-mode: both;

}



@keyframes slideInRight {

  from {

    -webkit-transform: translate3d(100%, 0, 0);

    transform: translate3d(100%, 0, 0);

    visibility: visible;

  }



  to {

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

  }

}



.slideInRight {

  -webkit-animation-name: slideInRight;

  animation-name: slideInRight;

}



@keyframes slideInLeft {

  from {

    -webkit-transform: translate3d(-100%, 0, 0);

    transform: translate3d(-100%, 0, 0);

    visibility: visible;

  }



  to {

    -webkit-transform: translate3d(0, 0, 0);

    transform: translate3d(0, 0, 0);

  }

}

.slideInLeft {

  -webkit-animation-name: slideInLeft;

  animation-name: slideInLeft;

}

/******************************************

    Signup Steps Progress Bar

***************************************/


  .steps-progressbar {
      counter-reset: step;
      margin-bottom: 7rem;
  }
  .steps-progressbar li {
      list-style-type: none;     
      float: left;   
      font-size: 12px;
      position: relative;
      text-align: center;  
      text-transform: uppercase;  
      color: #7d7d7d;
  }
  .steps-progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #eee;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .steps-progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #eee;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .steps-progressbar li:first-child:after {
      content: none;
  }
  .steps-progressbar li.active {
      color: #28b661;
  }
  .steps-progressbar li.step:before {
        border-color: #28b661;
  }
  .steps-progressbar li.active:before {
      border-color: #28b661;
  }
  .steps-progressbar li.active + li:after {
      background-color: #28b661;
  }


  /******** Stripe element css ******/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
